---
layout: base.njk
templateClass: tmpl-home
---

{# This is the template for the Advice page–it lists the advice posts in the collection #}

<div class="wrapper home">
  <div class="content">
    {{ content | safe }}
    <ul>
      {%- for advice in collections.advice -%}
        <li{% if page.url == advice.url %} aria-current="page"{% endif %}><a href='{{ advice.url }}'>{{ advice.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
</div>
