<!DOCTYPE html>
<html lang="en">
  <head>
    
    {# This is the base template for the site–other templates extend this one #}
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ metadata.description }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  </head>
  <body>
    <header>
      <h1><a href="/" class="home-link">{{ metadata.title }}</a></h1>
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <div id="header">
      <nav>
        <ul class="nav-list">
          <li class="nav-item"><a href="/advice">Advice</a></li>
          <li class="nav-item"><a href="/essays">Essays</a></li>
          <li class="nav-item"><a href="/reflect">Reflect</a></li>
          <li class="nav-item"><a href="/about">Meet the Saddies</a></li>
        </ul>
      </nav>
      </div>
    </header>
    <main>
    
    {# Page or post content will appear here #}
  
    {{ content | safe }}
    
    </main>
    <footer class="footer">
    <div class="footer-text">
    © 2025 Alanna Gonzalez, Deanna Barshop
    </div>

    </footer>
   
  </body>
</html>
