/* A set of default style */
:root {
  /* Generic sizing for the page */
  --wrapper-height: 75vh;
  --avatar-max-width: 140px;

  /* Fonts for different elements */

  --font-family: Poppins, sans-serif;
  --font-family-header: Cardo, serif;
  --font-family-list: Poppins, sans-serif;

  /* Colors you'll see cascade through the elements */
  --color-bg: #ffffff; /* Used for the page body background */
  --color-bg-alt: red; /* Used for social icons on hover */
  --color-text-main: #000000; /* List text ann social icons on hover */
  --color-primary: white; /* Headers and borders */
  --color-secondary: #000000; /* Headers and borders */
  --color-header: #000000;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Page structure */
body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  text-align: center;
  margin: 0;
}
.wrapper {
  min-height: var(--wrapper-height);
  place-items: center;
  margin: 1rem 2rem;
}
.hero {
  background: url("/assets/womanatdesk.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image {
  height: 50%;
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  margin: 0 auto;
}

.about-content {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

/* Typography */
p {
  margin: 0 0 1rem 0;
  line-height: 1.5 !important;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-header);
  color: var(--color-text-main);
}
h1 {
  display: inline-flex;
  font-family: var(--font-family-header);
  color: var(--color-secondary);
  justify-content: center;
}

/*
.postTitle{
  text-decoration: underline;
}
*/

.wrapper-post{
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  margin: 0 auto;
}

header {
	border-bottom: 1px dashed var(--color-gray-20);
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
}

/* Nav */
.nav {
	display: flex;
	gap: .5em 1em;
	padding: 0;
	margin: 0;
	list-style: none;
}
/* Navigation alignment fix */
.nav-list {
  display: flex;
  align-items: center; /* Ensure all nav items align properly */
  font-size: 1.25rem;
}

.nav-item {
  display: flex;
  align-items: center; /* Align nav items to center */
  margin-right: 2rem;
}
/* .nav-item a[href]:not(:hover) {
	text-decoration: none;
} */
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Link styles */

/* Links in text */
a:link,
a:visited {
  text-decoration: none;
  border-bottom: 2px solid var(--color-text-main);
  color: var(--color-text-main);
  transition: background 0.2s linear;
  font-weight: 500;
}
/* a:hover,
a:active,
a:focus, a.remix:hover {
  background: red;
  color:var(--color-bg);
} */
/* Header links */
#header a:link,
#header a:visited {
  text-decoration: none;
  color: var(--color-primary);
  transition: background 0.2s linear;
  font-weight: 500;
}
#header a:hover,
#header a:active,
#header a:focus, a.remix:hover {
  border-bottom: 2px solid var(--color-primary);
}
/* Home button link */
a.home-link:link, a.home-link:visited, footer a:link {
	font-family: var(--font-family-header);
  font-weight: 600;
  color: var(--color-primary);
}
header a:not(.home-link){
  font-weight: normal;
  border-bottom-width: 2px;
  color: var(--color-primary);
}

h1,
h2,
p {
  display: block;
  text-align: left;
}
p, ul {
  font-weight: 200;
}

header {
  text-align: left;
  margin-bottom: 1rem;
  background-color: var(--color-header);
}

header div {
  margin-bottom: 0;
}

ul > li,
ol > li {
  margin-bottom: 0.75rem;
  line-height: 1.5;
}
ul {
  padding: 0 0 0 18px;
  margin: 0;
  text-align: left;
}
ul.no-bullet {
  list-style-type: none;
}
/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto 0;
  padding: 1.5rem;
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--color-header);
  display: flex;
  justify-content: flex-end;
}

.footer-text{
  color: var(--color-primary);
}

a.remix {
  background-color: var(--color-bg-alt);
  border: 2px solid var(--color-text-main);
  border-radius: 5px;
  padding:0.5rem;
}

.column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.about {
  padding: 0 16px;
}

.about::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
